beautifulsoup4==4.3.2
extras==0.0.3
fixtures==1.0.0
flake8==2.4.0
linecache2==1.0.0
mccabe==0.3
pep8==1.5.7
pyflakes==0.8.1
python-mimeparse==0.1.4
six==1.9.0
testtools==1.7.1
traceback2==1.4.0
unittest2==1.0.1
WebTest==2.0.18
